extends layout.pug
block content 
    include header
    main.container 
        section#metrics 
            div.cards 
                h3 
                    span Aguardando 
                p#open_calls 
                    img(src="/static/img/icons_app/arrow_main.png" alt="") 
                    span #{datas_index.open_calls} 

            div.cards 
                h3 
                    span Finalizados 
                p#open_calls
                    img(src="/static/img/icons_app/arrow_main.png" alt="") 
                    span 110

            div.cards.all
                h3 
                    span Todos
                p#open_calls 
                    img(src="/static/img/icons_app/arrow_main_green.png" alt="") 
                    span 200
        secton#calls 
            a(href="#" class="button new" id="button-modal") + Novo chamado
            table#data-table 
                thead 
                    tr 
                        th 
                            b Código
                        th 
                            b Usuário 
                        th 
                            b Empresa
                        th 
                            b Status
                        th 
                            b Prioridade
                        th 
                            b Ação
                tbody 
                    tr 
                        each call in datas_index.calls 
                            tr 
                                td #{call.code}
                                td #{call.user}
                                td #{call.company}
                                td #{call.status}
                                td #{call.priority}
                                td 
                                    a(href="#" class="resolve-call") Resolver


